<%- include("partials/header.ejs") %>
<section>
  <% if(locals.issuValue && locals.postValue) { %>
  <article>
    <div id="issueTitle"><h2 id="issue"><%= issuValue %></h2></div>
    <div id="postBody"><p id="poste"><%= postValue %></p></div>
  </article>
  <% } else{ %>
  <h2>tell us what you have on you'r mind?</h2>
  <% } %>
</section>
<%- include("partials/footer.ejs") %>
