<%- include("partials/header.ejs") %>
<section id="left-section">
  <form action="/submit" method="post">
    <label for="issue">Issue, title?</label>
    <input id="issue" type="text" required />
    <label for="post-body">What are the details of the issue?</label>
    <textarea name="post-value" id="post-body" cols="30" rows="10" required>
slj</textarea
    >
    <button id="submit" type="submit">Submit</button>
  </form>
</section>
<section id="right-section"></section>
<%- include("partials/footer.ejs") %>
