<%- include("partials/header.ejs") %>
<section>
  <article id="view-area">
    <div class="issue-title">
      <% if (locals.issueValue) { %>
      <h2><%= issueValue %></h2>
      <% } else { %>
      <h2>Thats Why We DRTFM!</h2>
      <% } %>
    </div>
    <div class="issue-body">
      <% if (locals.postValue) { %>
      <p><%= postValue %></p>
      <% } else { %>
      <p>Thats Why We DRTFM!</p>
      <% } %>
    </div>
  </article>
</section>
