</main>
<div id="footer">
  <nav id="bottom-nav">
    <li class="nav-link"><a href="#home">Home</a></li>
    <li class="nav-link"><a href="#blog">Blog</a></li>
  </nav>
</div>
<script src="/index.js"></script>
</body>
</html>
