<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linux Mint blog</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <div id="header">
        <nav id="nav-bar">
          <ul>
            <li class="nav-link">
              <img src="/images/Logo_Linux_Mint.png" alt="Linux mint logo" />
            </li>
            <li class="nav-link"><a href="#home">Home</a></li>
            <li class="nav-link"><a href="#blog">Blog</a></li>
          </ul>
        </nav>
      </div>
    </main>
  </body>
</html>
