* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  color: #333;
}

form {
  max-width: 600px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.post {
  width: 300px;
  padding: 6px;
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}
