</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const date = new Date; %>
  <% const year = date.getFullYear() %>
  <p>Copyright © <%= year %></p>
</footer>
</body>

</html>