*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
html {
  background: linear-gradient(45deg, #1db0c4, #fbff00, #2bff00);
  background-size: 200% 900%;
  animation: GradientBackground 10s ease infinite;
  -webkit-animation: GradientBackground 10s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav {
  background-color: #333;
  color: #d33c3c;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}

a:hover {
  border-bottom: 2px solid #fff;
}

form {
  margin: 50px 100px;
}

label {
  font-size: 1.5rem;
  display: block;
}

#linux-logo {
  margin-top: 100px;
  margin-left: 100px;
}

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#issue-post,
#blog-title {
  width: 500px;
  padding: 5px;
  margin: 20px 5px;
  padding: 10px 5px;
  display: block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.fun-button {
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 20px 5px;
  padding: 5px;
  display: block;
  font-size: 1.3rem;
}
h1 {
  margin: 100px;
}
.post-card {
  margin: 100px;
}

.ticket {
  box-sizing: border-box;
  width: 300px;
  background-color: #333;
  color: #fff;
  margin: 10px;
  padding: 10px;
}
