<!-- edit.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Edit Post</h1>

    <form action="/update-post/<%= postToEdit.id %>" method="post">
      <label for="blog-title">Edit Title:</label>
      <input
        type="text"
        id="blog-title"
        name="issueTitle"
        value="<%= postToEdit.issue %>"
        required />

      <label for="issue-post">Edit Content:</label>
      <textarea name="issuePost" id="issue-post" cols="30" rows="17" required>
<%= postToEdit.post %></textarea
      >

      <button class="fun-button" type="submit">UPDATE</button>
    </form>

    <footer>
      <nav id="bottom-nav">
        <ul>
          <li class="nav-link"><a href="/">Main</a></li>
          <li class="nav-link"><a href="/submit">Post's</a></li>
        </ul>
      </nav>
    </footer>
    <script src="/index.js"></script>
  </body>
</html>
