<%- include("partials/header.ejs") %>
<form action="/submit" method="post">
  <label for="blog-title">Blog Title:</label>
  <input type="text" id="blog-title" name="issueTitle" required />

  <label for="issue-post">Share your blog content:</label>
  <textarea
    name="issuePost"
    id="issue-post"
    cols="30"
    rows="17"
    placeholder=" don't forget to include info about your Linux Distro, and version:"
    required></textarea>

  <button class="fun-button" type="submit">SUBMIT</button>
</form>
<%- include("partials/footer.ejs") %>
