<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linux blog</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <form action="/views/index.ejs">
      <label for="title">Blog Title.</label>
      <input type="text" id="title" class="post" />
      <label for="body"
        >Pleas dont forget to supply requried information.</label
      >
      <textarea name="" id="body" cols="30" rows="10"></textarea>
    </form>
    <script src="index.ejs"></script>
  </body>
</html>
