<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog post</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Linux Distro Watch</h1>
    <form action="/submit" method="POST">
      <label for="ptitle">Enter The Post Title</label>
      <input type="text" name="postTitle" />
      <label for="pbody">wright your post below</label>
      <textarea name="postBody" id="" cols="30" rows="10"></textarea>
      <button class="btn" type="submit">SUBMIT</button>
    </form>
  </body>
</html>
