
</main>
<footer>
  <nav id="bottom-nav">
    <ul>
      <li class="nav-link"><a href="/">Main</a></li>
      <li class="nav-link"><a href="/submit">Post's</a></li>
    </ul>
  </nav>
</footer>
<script src="/index.js"></script>
</body>
</html>
