<!-- </header>
<footer>
  <nav id="bottom-nav">
    <ul>
      <li class="nav-link"><a href="#main">Main</a></li>
      <li class="nav-link"><a href="posts">Post's</a></li>
    </ul>
  </nav>
</footer>
</body>
</html> -->
