<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>simple node blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <nav id="top-nav">
        <ul>
          <li class="nav-link"><a href="/">Main</a></li>
          <li class="nav-link"><a href="/submit">Post's</a></li>
        </ul>
      </nav>
      <img
        src="/images/logo.png"
        id="linux-logo"
        alt="linux organization logo" />
    </main>
  </body>
</html>
